pip
scipy
testresources

altair
base58
bokeh
Box2D
bs4
coremltools
datasketch
deepchem
deer
descartes
elasticsearch
emoji
eventlet
face_recognition
fbprophet
Flask
flickrapi
folium
gensim
geopandas
graphviz
gym
gym-pull
h5py
html2text
html5lib
imageio
imbalanced-learn    # don't install imblearn
inflect
joblib
JSAnimation
keras-rl
konlpy
latex
leveldb
librosa
lime
lsh
lxml
magenta
matplotlib
matplotlib_venn
missingno
mwparserfromhell
nltk
np_utils
numpy
opencv-contrib-python
opencv-python
pandas
pandas_datareader
paramiko
pdf2image
Pillow
plotly
plotnine
plyvel
prettytensor
psycopg2-binary
pyaudio
pydot
pydotplus
PyMySQL
pypng
pyproj
pyspark
python-louvain
python-socketio
readchar
retrying
scikit-image
scikit-learn
seaborn
selenium
selenium-requests
simdna
simplejson
skorch
sounddevice
spacy
SpeechRecognition
spotipy
statistics
statsmodels
sugartensor
svglib
sympy
tensorboardX
tflearn
theano
tqdm
tweepy
twitter
TwitterSearch
twython
ujson
urllib3
vega_datasets
virtualenv
visdom
wordcloud
xlrd
xlsxwriter
yahoofinancials
jupyter








# 아래는 순서대로 설치하면 에러남. separately 파일에서 설치
#pyflux   
#googlemaps
#tinytag

